/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#Caja {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f4f1f1;
}

/* Estilos de encabezado */
header {
    background-color: #a1570d;
    padding: 10px;
    color: #9a5d19;
    overflow: auto;
}

#Logo {
    float: left;
}

#Formulario {
    float: right;
    margin-top: 10px;
}

/* Estilos de la descripción e imagen */
.descripcion-imagen {
    overflow: auto; /* Limpiar los flotantes */
}

.product-details {
    float: right; /* Posicionar la descripción a la derecha */
    width: 50%; /* Ocupar la mitad del ancho */
    padding-left: 20px; /* Espacio entre la imagen y la descripción */
    box-sizing: border-box; /* Incluir el padding en el ancho */
}

.Imagen {
    width: 50%; /* Ancho total del carrusel */
    white-space: nowrap; /* Evitar saltos de línea */
    overflow-x: auto; /* Habilitar desplazamiento horizontal */
}

/* Estilos del contenido principal */
main {
    overflow: auto; /* Limpiar los flotantes */
}

.product-details {
    padding: 20px;
    border: 1px solid #050404;
}

.product-details h2 {
    margin-top: 0;
}

.Imagen img {
    display: inline-block; /* Mostrar las imágenes en línea */
    margin-right: 5px; /* Espacio entre las imágenes */
    vertical-align: center; /* Alinear las imágenes en la parte superior */
    margin-top: 90px;
}

/* Estilos de la sección de comentarios */
.comments {
    clear: both; /* Limpiar los flotantes */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-top: 20px; /* Espacio entre la descripción y los comentarios */
    padding: 10px;
    border: 1px solid #070606;
    border-radius: 3px;
}

.comments h3 {
    margin-top: 0;
}

/* Estilos de pie de página */
footer {
    clear: both; /* Limpiar los flotantes */
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}